<style type="text/css">
.graph {
  border-top:1px solid black;
}
.graph_label {
  text-align:center;
  min-width:33px;
} 
#done_button {
  display:block;
  font-size: 0.8em;
  color: black;
  background-color: lightGreen;
  margin: 15px;
  border: 3px outset gray;
  -moz-user-select:none;
  width: 100px;
  height: 70px;
  text-align: center;
  font-size:24;
  position:absolute;
  right:20px;
}
.buttonsDiv {
  display:block;
  height:90px;
  left:640px;
  position:absolute;
  right:20px;
  top:0px;
  z-index:10;
  -moz-user-select:none;
}
#header{
  display:block;
  font-size: 1.8em;
  color: black;
}

.pop_button{
  bottom:10px;
  position:absolute;  
}

#patients{
  height:55px;
  left:25px;
  width:115px;
}
#close_button{
  height:55px;
  right:25px;
  width:115px;
} 
</style>
<script language="javascript" type="text/javascript" src="/javascripts/jquery.js"></script>
<script language="javascript" type="text/javascript" src="/javascripts/jquery.flot.js"></script>
<script language="javascript">      
  jQuery.noConflict();
  jQuery(document).ready(function() { drawGraph(); })
 
  <% x100 = nil %> 
  var plot = null;
  var data = [<% @results.each do |result| x100 = result[1] if result[0] == '100' -%><%= "[#{result[0]},#{result[1]}]" -%>, <% end %>];

  function drawGraph() {
    <% @min = @results.first[0] rescue 0 %>
    <% @max = @results.last[0] rescue 0 %>
    var min = 0
    var max = 200
        
    function get_data(x1, x2) {
      return [
      { 
        color: "green",
        data: data,
        points: { show: true, selectedColor: "#ff0000", radius: 8 },
        //lines: { show: true, fill: true, fillColor: "rgba(0, 255, 80, 0.2)"  },
        bars: { show: true,barWidth: 5 } 
      },
      {
        color: "red", data: [[100,<%= x100 %>]],
        points: { show: true, selectedColor: "red", radius: 8 },
        bars: { show: true,barWidth: 5}  
      }]
    }
        
    var plot_options = { 
      grid: { clickable: true },
      yaxis: { min: 0, max: <%= @graph_max -%>},
      xaxis: { min: min, max: max}
    }    
    
    plot = jQuery.plot(jQuery("#placeholder"), get_data(null, null), plot_options);

    jQuery("#placeholder").bind("plotclick", function (e, pos) {
      x = pos.x.toFixed(2);
      y = pos.y.toFixed(2);
      // Find the closest point to the one clicked
      sel_index = null;
      sel_diff = null;
      for (var i = 0; i < data.length; i++) {
        diff_x = Math.abs(data[i][0] - x) * pos.hozScale;
        diff_y = Math.abs(data[i][1] - y) * pos.vertScale;
        // Pythagoras
        diff = Math.sqrt((diff_x * diff_x) + (diff_y * diff_y))
        if (sel_index == null || diff < sel_diff) {
          sel_index = i;
          sel_diff = diff;
        }      
      }  
      // If there is no point leave
      if (sel_index == null) return;
      // If the point is within in the radius
      if (sel_diff > 8) return;
      // Select the point
      plot.selectPoint(0, sel_index);
    });    
    
    jQuery("#placeholder").bind("selectpoint", function (e, point) {
      jQuery("#placeholder_details_container").get(0).style.left = point.pageX + "px";
      jQuery("#placeholder_details_container").get(0).style.top = point.pageY + "px";
      jQuery("#placeholder_details_container").show(0);
      var current_adherence = data[point.selectedIndex][0];
      if (current_adherence >=91 && current_adherence <=94){
        jQuery("#placeholder_details").get(0).innerHTML = data[point.selectedIndex][1] + " patient(s)</br>91% - 94% adherence";
      }else if(current_adherence >= 95 && current_adherence <=100){
        jQuery("#placeholder_details").get(0).innerHTML = data[point.selectedIndex][1] + " patient(s)</br>95% - 100% adherence";
      }else{  
        jQuery("#placeholder_details").get(0).innerHTML = "Patients with adherence from " 
        jQuery("#placeholder_details").get(0).innerHTML = data[point.selectedIndex][1] + " patient(s)</br>"
        + (current_adherence - 4) + "% - " + (current_adherence) + "%";
      }  
    });

  }
  function closePage(){
    history.go(-1);
  }
  
  function patientList(){
    var quater = "<%=@quater%>"
    var min_range = document.getElementById("placeholder_details").innerHTML.split('<br>')[1].split("adherence")[0].split("-")[0];
    var max_range = document.getElementById("placeholder_details").innerHTML.split('<br>')[1].split("adherence")[0].split("-")[1];
    document.location="/cohort_tool/patients_with_adherence_greater_than_hundred/?quater="
    + quater +"&min_range=" +  parseFloat(min_range) + "&max_range=" + parseFloat(max_range);
  }
</script>    
<div>
  <div id="placeholder" class="graph" style="width:700px;height:400px;"></div><div id="overview" style="display:none;width:500px;height:140px;"></div>      
  <div id="placeholder_details_container" style="left:0;top:0;position:absolute;z-index:100;display:none;-moz-user-select:none;">
    <div style="margin-left:70px;margin-top:30px;padding:10px;width:150px;height:100px;background:gainsboro;position:absolute;"></div>
    <div style="margin-left:60px;margin-top:20px;border:1px solid black;padding:10px;width:300px;height:150px;background:white;position:absolute;text-align:center">
      <span style="font-weight:bold">Point Detail</span>
      <div id="placeholder_details" style="text-align:center;height:50px;padding-top:15px;"></div>
      <input type="button" id='patients' class='pop_button' onclick="patientList();" value="Patients' list" />
      <input type="button" id='close_button' class='pop_button' onclick="jQuery('#placeholder_details_container').hide(0);" value="Close" />
    </div>
  </div>
</div>    
