<div id="header">
  <%= @report_type + "</p>" + @quater %>  
</div>

<%= render :partial => "adherence_graph" %>

<div class = "buttonsDiv">
  <button id='done_button' onmousedown='closePage();'>Done</button>
</div>
