<%= stylesheet_link_tag "cohort_tool_graph" %>
<div id="header">
  <%= params[:pat_name] + "</p>" + params[:name].gsub("_"," ") %>  history
</div>

<table>
<tr>
<td id='y_axis'>
<ul id="vertical">
<li>
  <em>P</em>
  <em>a</em>
  <em>t</em>
  <em>i</em>
  <em>e</em>
  <em>n</em>
  <em>t</em>
  <em>s</em>
</li>
</ul>
</td>
<td id="graph_td">
  <%= render :partial => "graph" %>
</td>
</tr>
</table>

<div class = "buttonsDiv">
  <button id='done_button' onmousedown='closePage();'>Done</button>
</div>
