<style>
  #tt_page_select_report #viewport{height:442px}
</style>

<% form_tag :action => "reports" do %>
<select tt_onLoad="changeButtons()" tt_pageStyleClass="ShortSelectList" name="report" helpText="Select Report">
  <option value="Q1_2009">Q1 2009</option>
  <option value="Q4_2008">Q4 2008</option>
  <option value="Q3_2008">Q3 2008</option>
  <option value="Q2_2008">Q2 2008</option>
  <option value="Q1_2008">Q1 2008</option-->
</select>
<%= hidden_field_tag :report_type, @report_type %>
<%= hidden_field_tag :arv_number_start, @arv_number_start %>
<%= hidden_field_tag :arv_number_end, @arv_number_end %>
</form>
</select>
<% end %>
<script>
function changeButtons(){
  $('nextButton').innerHTML = "Select"
  $('cancelButton').innerHTML = "Finish"
  $('cancelButton').style.backgroundColor = "lightgray"
  $('cancelButton').style.borderColor = "gray"
  tstConfirmCancel = false;
}
</script>
