<style>
  #viewport{
    width:570px;
    height:400px;
  }
  .keyboard{display:none;}
  .touchscreenTextInput {display:none;}
</style>
<% location_name = Location.current_location.name
   form_tag :action => 'report_date_select' do
   options = [""]
   unless location_name == "Lighthouse" || location_name == "Martin Preuss Centre"
     options << "Diagnoses"
     options << "Patient Level Data"
     options << "Disaggregated Diagnoses"
     options << "Referrals"
     options << "Total Visits"
     options << "Return Visits"
     options << "User Stats"
     options << "Total registered"
     options << "Diagnoses (By address)"
   else  
   end
%>

  <%= select_tag('report', options_for_select(options.sort),:tt_onLoad =>"changeButtons()",:helpText =>"Select Report") %>
<% end %>
<div id="popupBox_for_pg_info" align="center">
  <p>Please wait<blink>.......</blink></p>
</div>
<script>
function changeButtons(){
  $('nextButton').innerHTML = "Select"
  $('cancelButton').innerHTML = "Finish"
  $('cancelButton').style.backgroundColor = "lightgray"
  $('cancelButton').style.borderColor = "gray"
  tstConfirmCancel = false;
}
</script>
