<%= Date.today %> patient visits summary report.

<p>
Total number of visits: <%= @todays_encounters %>
</p>

<p>
Total number of male visits: <%= @male_encounters %>
</p>

<p>
Total number of male visits: <%= @female_encounters %>
</p>
