dear <%= @first_name %> <%= @last_name %>,

"You wanna play games? Huh? I'll play games. Wanna play rough? I'll play rough."
<br>
"Okay! Say hello to my lil' friend!"
<br>
I am coming from cedar!

Rails -quoting Al Pacino.
