<html>
  <head><title>Set New System date</title>
    <%=stylesheet_link_tag "","" %>
    <script type="text/javascript/" src="/public/javascripts/dateselector.js"></script>
  </head>
  <body>
    <h2>Set New System date</h2>
    <table>
      <tr>
        <td>Date:</td><td><%= Time.now%></td>
      </tr>
      <tr>
        <td>Time:</td><td><%= %></td>
      </tr>
    </table>

    <div>Set Date</div>
    </div>
  </body>
</html>
