<html>
  <head><title>Set New System date</title>
    <%=stylesheet_link_tag "set_new_date"%>
     <%= javascript_include_tag "dateselector" %>
  </head>
  <body>
    <h2>Set New System date</h2>
    <% form_tag :action => "set_date" do %>
      Date:</td><td><%= datetime_select 'field', 'set_date' %>
    <%end%>
  </body>
</html>
