<%= error_messages_for 'program' %>

<!--[form:program]-->
<p><label for="program_concept_id">Concept ID</label><br/>
<%= text_field 'program', 'concept_id'  %></p>

<p><label for="program_creator">Creator</label><br/>
<%= text_field 'program', 'creator'  %></p>

<p><label for="program_date_created">Date created</label><br/>
<%= datetime_select 'program', 'date_created'  %></p>
<!--[eoform:program]-->

