
.options, .scrollable {
  top: 250px;
  width: 600px;
  height: 175px;
  overflow: hidden;
  display: block;
}

.tt_controls_most_recent_sample_collection_day #keyboard{
 top:205px;
}

.tt_controls_most_recent_sample_collection_day #clearbutton{
 display:block;
}

#keyboard {
  display: none;
}

#scrollUp, #scrollDown{
  display: none;
}

.helpTextClass{
  width: 630px;
}

.historyExamLab{
  font-weight: bold;
}

#tt_page_most_recent_sample_collection_month #viewport { height:495px }

.tt_controls_most_recent_sample_collection_month .title{
  display:block;
  padding-bottom: 2px;
}

#tt_page_cd4_percentage_less_than_25_percent? #keyboard{
  width: 497px;
  display: block;
}
##tt_page_cd4_percentage_less_than_25_percent?  .options{
  display: none;
}
#tt_page_cd4_percentage_less_than_25_percent? .touchscreenTextInput{
  top: 150px;
  display: block;
}
.buttonLine{
  display: inline;
}
.staticControlsPage44 #clearButton{
  display: none;
}

#num, #star, #abc, #date, #minus, #plus, #slash, #comma, #percent, #unknown, #clearButton{
  display: none;
}
#lessthan, #greaterthan, #equals, #unknown{
  display: inline;
}
#unknown{
  width: 120px;
}

.tt_controls_most_recent_sample_collection_year #unknown{
  width: 150px;
}

#popupBox{
 position: absolute;
 top: 100px;
 left: 150px;
 border: solid 1px #000000;
 background-color: #FFFF99;
 visibility: hidden;
 font-size: 25;
 z-index: 100;
}

.tt_controls_most_recent_sample_collection_year #keyboard{
  display: block;
}
#tt_page_cd4_count_available .options{
  display: block;
}
#tt_controls_most_recent_sample_collection_year .touchscreenTextInput{
  top: 150px;
  display: block;
}

.tt_controls_most_recent_sample_collection_year #clearButton{
    display: block;
}

.tt_controls_most_recent_sample_collection_day #keyboard{
  width: 497px;
  display: block;
}
#tt_page_most_recent_sample_collection_day .options{
  display: none;
}
.tt_controls_most_recent_sample_collection_day .touchscreenTextInput{
  top: 150px;
  display: block;
}

.tt_controls_most_recent_sample_collection_year #keyboard{
  width: 500px;
  display: block;

}


#tt_page_cd4_count .options{
  display: none;
}
#tt_page_cd4_count .touchscreenTextInput{
  top: 55px;
  display: block;
}

#tt_page_most_recent_sample_collection_year .touchscreenTextInput{
  top: 150px;
  display: block;
}

.staticControlsPage54 #clearButton{
  display: block;
}

.staticControlsPage56 #clearButton{
  display: block;
}

.staticControlsPage58 #clearButton{
  display: block;
}

.tt_controls_most_recent_sample_collection_year .keyboard {
  bottom:50px;
  height:392px;
  left:30px;
  position:absolute;
  top:201px;
  width:500px;
  z-index:10;
}

#tt_page_cd4_percentage #viewport {
	display: none;
}

.tt_controls_cd4_percentage #unknown {
  display: none;
}

#tt_page_cd4_percentage .touchscreenTextInput{
  display: block;
  top: 55px;
}

#tt_page_staff_who_staged_patient_provider #viewport, 
#tt_page_staff_who_staged_patient_provider #options  {
  height: 200px;
  overflow: auto;
}

.tt_controls_staff_who_staged_patient_provider #keyboard  {
  display: block;
  bottom: 15px;
  left: 30px;
  width: 725px;
}

#tt_page_candidiasis_of_oesophagus_trachea_bronchus #viewport{
 overflow:hidden;
 top:155px;
 width:600px;
}

#tt_page_candidiasis_of_oesophagus_trachea_bronchus li{
  color:black;
  font-size:1.7em;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  padding-left:5px;
  padding-right:5px;
  padding-bottom:25px;
  font-size:38px;
}

#tt_page_cryptococcosis_extrapulmonary #viewport{
 overflow:hidden;
 top:155px;
 width:600px;
}

#tt_page_cryptococcosis_extrapulmonary li{
  color:black;
  font-size:1.7em;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  padding-left:5px;
  padding-right:5px;
  padding-bottom:25px;
  font-size:38px;
}

.tt_controls_cd4_count #keyboard{
  display: block;
  top:110px;
  width:540px;
  height:490px;
  z-index: 600;
}

.tt_controls_cd4_count #Unknown {
 width:168px;
}

.tt_controls_cd4_count .keyboardButton{
  -moz-user-select:none;
  background-color:lightgray;
  border:3px outset gray;
  font-size:1.5em;
  height:70px;
  margin:5px;
  text-align:center;
  width:168px;
}


.tt_controls_cd4_percentage #keyboard{
  display: block;
  top:110px;
  width:540px;
}

.tt_controls_cd4_percentage #backspace {
 width:168px;
}

.tt_controls_cd4_percentage .keyboardButton{
  -moz-user-select:none;
  background-color:lightgray;
  border:3px outset gray;
  font-size:1.5em;
  height:70px;
  margin:5px;
  text-align:center;
  width:168px;
}

.keyboardButton { z-index:600 }
