/*#viewport, #clearButton, #backButton{
  display: none;
}
*/

.dateSelector button{
  font-size: 2.5em;
}
.keyboard{
  bottom: 200px;
}

.touchscreenTextInput{
position:absolute;
top:80px;
left:25px;

}
.buttonsDiv {
	height:160px;
}

#tt_page_delivery_year #viewport,#decimal,#comma,#percent,#slash,#Unknown,
#tt_page_year #viewport,#decimal,#comma,#percent,#slash,#Unknown {
  display: none;
}

#tt_page_delivery_year .touchscreenTextInput ,
#tt_page_year .touchscreenTextInput {
 position:absolute;
 top:65px				
}

#tt_page_when_visit_occured .touchscreenTextInput{
 position:absolute;
 top:100px				
}


.tt_controls_delivery_year .keyboard ,
.tt_controls_year .keyboard{
 height:385px;
 left:27px;
 top:135px;
 bottom:50px;
 display:block;
 left:30px;
 position:absolute;
 z-index:10;
 width:500px;
}

/*
.tt_controls_delivery_year #Unknown{
 display:inline;			
 width:140px; 
}*/

.tt_controls_delivery_year #minus , 
.tt_controls_year #minus{
 display:none;				
}


.tt_controls_delivery_year .numericKeyboard .buttonLine ,
.tt_controls_year .numericKeyboard .buttonLine{
  height:95px;
}

.tt_controls_delivery_year .numericKeyboard ,
.tt_controls_year .numericKeyboard{
  font-size:1.2em;
}

.tt_controls_delivery_year .numericKeyboard .keyboardButton ,
.tt_controls_year .numericKeyboard .keyboardButton {
  height:88px;
  width:155px;
}

.tt_controls_delivery_year .keyboardButton ,
.tt_controls_year .keyboardButton{
  background-color:lightgray;
  border:3px outset gray;
  color:black;
  display:inline;
  font-size:1.5em;
  margin:4px;
  text-align:center;
}


#tt_page_delivery_month  #viewport ,
#tt_page_month  #viewport{
  height:416px;
  top:50px;
  width:450px;
}


#tt_page_delivery_month .options li ,
#tt_page_month .options li{
  color:black;
  font-size:1em;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin-bottom:2px;
  margin-top:1px;
  padding-left:5px;
  padding-right:5px;
  padding-bottom:1px;
  padding-top:1px;
}

#tt_page_delivery_day #viewport ,
#tt_page_day #viewport{
 display: none;
}

.tt_controls_delivery_day .keyboard ,
.tt_controls_day .keyboard{
  height:370px;
  left:27px;
  top:135px;
  width:620px;
}

#tt_page_delivery_day .touchscreenTextInput ,
#tt_page_day .touchscreenTextInput{
 position:absolute;
 top:65px				
}


#tt_page_number_of_tins #viewport,#decimal,#comma,#percent,#slash,#Unknown{
  display: none;
}

#tt_page_number_of_tins #viewport,#decimal,#comma,#percent,#slash,#Unknown{
  display: none;
}

.tt_controls_number_of_tins .keyboard{
 height:385px;
 left:27px;
 top:135px;
 bottom:50px;
 display:block;
 left:30px;
 position:absolute;
 z-index:10;
 width:500px;
}

#tt_page_number_of_tins .touchscreenTextInput{
 position:absolute;
 top:65px				
}
/*
.tt_controls_number_of_tins #Unknown{
 display:inline;			
 width:140px; 
}*/

.tt_controls_number_of_tins #minus{
 display:none;				
}


.tt_controls_number_of_tins .numericKeyboard .buttonLine{
  height:95px;
}

.tt_controls_number_of_tins .numericKeyboard{
  font-size:1.2em;
}

.tt_controls_number_of_tins .numericKeyboard .keyboardButton {
  height:88px;
  width:155px;
}

.tt_controls_number_of_tins .keyboardButton{
  background-color:lightgray;
  border:3px outset gray;
  color:black;
  display:inline;
  font-size:1.5em;
  margin:4px;
  text-align:center;
}

#tt_page_number_of_pills_per_tin #viewport,#decimal,#comma,#percent,#slash,#Unknown{
  display: none;
}

#tt_page_number_of_pills_per_tin #viewport,#decimal,#comma,#percent,#slash,#Unknown{
  display: none;
}

.tt_controls_number_of_pills_per_tin .keyboard{
 height:385px;
 left:27px;
 top:135px;
 bottom:50px;
 display:block;
 left:30px;
 position:absolute;
 z-index:10;
 width:500px;
}

#tt_page_number_of_pills_per_tin .touchscreenTextInput{
 position:absolute;
 top:65px				
}
/*
.tt_controls_number_of_tins #Unknown{
 display:inline;			
 width:140px; 
}*/

.tt_controls_number_of_pills_per_tin #minus{
 display:none;				
}

.tt_controls_number_of_pills_per_tin .numericKeyboard .buttonLine{
  height:95px;
}

.tt_controls_number_of_pills_per_tin .numericKeyboard{
  font-size:1.2em;
}

.tt_controls_number_of_pills_per_tin .numericKeyboard .keyboardButton {
  height:88px;
  width:155px;
}

.tt_controls_number_of_pills_per_tin .keyboardButton{
  background-color:lightgray;
  border:3px outset gray;
  color:black;
  display:inline;
  font-size:1.5em;
  margin:4px;
  text-align:center;
}


.tt_controls_drug_name .keyboard{
  top:395px;
  height:190px;
}

#tt_page_drug_name #viewport{
  width: 743px;
  height: 280px;
  top: 50px;
  font-size: 15px;
}

#tt_page_drug_name .touchscreenTextInput{
  top:350px;
  width:530px;
  font-size:20px;
}

.tt_controls_reason .keyboard{
  top:300px;
  height:190px;
}

#tt_page_reason #viewport{
  width:530px;
}

#tt_page_reason .touchscreenTextInput{
  top:250px;
  width:530px;
}

#tt_page_reason #space{
  display:inline;
}

/* ......................... */

.tt_controls_expiry_year #unknown{
 display:inline;
}

#tt_page_expiry_year .touchscreenTextInput{
 position:absolute;
 top:65px				
}

.tt_controls_expiry_year .keyboard{
 height:385px;
 left:27px;
 top:135px;
 bottom:50px;
 display:block;
 left:30px;
 position:absolute;
 z-index:10;
 width:500px;
}

.tt_controls_expiry_year #minus{
 display:none;
}

#tt_page_expiry_year #viewport{
 display:none;
}

.tt_controls_expiry_year .numericKeyboard .buttonLine{
  height:95px;
}

.tt_controls_expiry_year .numericKeyboard{
  font-size:1.2em;
}

.tt_controls_expiry_year .numericKeyboard .buttonLine{
  height:95px;
}

.tt_controls_expiry_year .numericKeyboard{
  font-size:1.2em;
}

.tt_controls_expiry_year .numericKeyboard .keyboardButton {
  height:88px;
  width:155px;
}

.tt_controls_expiry_year .keyboardButton{
  background-color:lightgray;
  border:3px outset gray;
  color:black;
  display:inline;
  font-size:1.5em;
  margin:4px;
  text-align:center;
}

#tt_page_expiry_month  #viewport{
  height:450px;
  top:50px;
  width:450px;
}


#tt_page_expiry_month .options li{
  color:black;
  font-size:1em;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin-bottom:2px;
  margin-top:1px;
  padding-left:5px;
  padding-right:5px;
  padding-bottom:1px;
  padding-top:1px;
}



#tt_page_expiry_day #viewport{
 display: none;
}

#tt_page_expiry_day .touchscreenTextInput{
 position:absolute;
 top:65px
}


#tt_page_expiry_day #viewport,#decimal,#comma,#percent,#slash,#Unknown{
  display: none;
}

#tt_page_expiry_day #viewport,#decimal,#comma,#percent,#slash,#Unknown{
  display: none;
}

.tt_controls_expiry_day .keyboard{
 height:310px;
 left:27px;
 top:135px;
 bottom:50px;
 display:block;
 left:30px;
 position:absolute;
 z-index:10;
 width:540px;
}

#tt_page_expiry_day .touchscreenTextInput{
 position:absolute;
 top:65px
}

.tt_controls_expiry_day #unknown{
 display:inline;
 width:135px;
}

#tt_page_state_reason #viewport {
  height: 500px;
  width: 500px;
}



/* .................... */



.tt_controls_encounter_year #unknown{
 display:inline;
}

#tt_page_encounter_year .touchscreenTextInput{
 position:absolute;
 top:65px				
}



.tt_controls_encounter_year .keyboard{
 height:385px;
 left:27px;
 top:135px;
 bottom:50px;
 display:block;
 left:30px;
 position:absolute;
 z-index:10;
 width:500px;
}


.tt_controls_encounter_year #minus{
 display:none;				
}

#tt_page_encounter_year #viewport{
 display:none;
}

.tt_controls_encounter_year .numericKeyboard .buttonLine{
  height:95px;
}

.tt_controls_encounter_year .numericKeyboard{
  font-size:1.2em;
}

.tt_controls_encounter_year .numericKeyboard .keyboardButton {
  height:88px;
  width:155px;
}

.tt_controls_encounter_year .keyboardButton{
  background-color:lightgray;
  border:3px outset gray;
  color:black;
  display:inline;
  font-size:1.5em;
  margin:4px;
  text-align:center;
}


#tt_page_encounter_month  #viewport {
  height:450px;
  top:50px;
  width:450px;
}


#tt_page_encounter_month .options li{
  color:black;
  font-size:1em;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin-bottom:2px;
  margin-top:1px;
  padding-left:5px;
  padding-right:5px;
  padding-bottom:1px;
  padding-top:1px;
}

#tt_page_encounter_day #viewport{
 display: none;
}

.tt_controls_encounter_day .keyboard {
  height:370px;
  left:27px;
  top:135px;
  width:620px;
}

#tt_page_encounter_day .touchscreenTextInput {
 position:absolute;
 top:65px				
}
