table{
 font-size:20px;
 padding-left:10px;
}

#left_div {
  float: left;
  width: 43%;
  border-style:solid;
  border-width:1px;
  height: 77%;
  overflow: auto;
}
 
#right_div {
  float: right;
  width: 49%;
  border-style:solid;
  border-width:1px;
  height: 77%;
  overflow: auto;
}
 
#center_div { 
  float: left;
  width: 7%;
  border-width:1px;
  height: 77%;
  overflow: auto;
}

#popUpBox{
 position: absolute;
 top: 84px;
 left: 420px;
 border: solid 1px #000000;
 background-color:MediumTurquoise;
 visibility: hidden;
 font-size: 25;
 z-index: 600;
 width:413px;
 -moz-user-select:none
}
