#done_button {
-moz-user-select:none;
background-color:lightGreen;
border:3px outset gray;
color:black;
display:block;
font-size:24px;
height:70px;
margin:15px;
text-align:center;
width:100px;
position:absolute;
right:20px;
}


.buttonsDiv {
-moz-user-select:none;
display:block;
height:2px;
left:640px;
position:absolute;
right:10px;
top:0;
z-index:10;
}

#data{
-moz-user-select:none;
height:435px;
overflow:auto;
position:absolute;
top:96px;
width:98%;
}

.data_td {
padding-left:25;
padding-right:18;
text-align:center;
background:#FFFF99;
}

.button_td {background:#FFFF99;}

#data_table td{
padding-top: 5px;
padding-bottom: 15px;
text-align:center;
-moz-user-select:none;
}

#data_table {
border-style:outset;
background-color:lightyellow;
width:98%;
}

#table_heading{padding-left:254;padding-top:15px;padding-bottom:15px;}
.table_heading_td{text-align:center;font-size:15px;font-style:oblique;background:#FFFF99;}
   
.test_name{
background-color:gainsboro;
font-size:0.75em;
height:48px;
width:212px;
margin-bottom:-8px;
margin-top:5px;
}

.user_details{
width:96%;
-moz-user-select:none;
font-size: 1.5em;
top:10px;
position:absolute;
}

.data_totals_td{font-style:oblique;font-size:18px;background:-moz-field;}

#totals{background-color:-moz-field;}

.user_details table{font-size:20px;}
