#xviewport{
  background-color:#FFFF99;
  float:right;
  left:553px;
  position:absolute;
  top:53px;
  height:500px;
  width:45%;
  font-size:15px;
}

#viewport{
  height:500px;
  font-size:12px;
  top:15px;
}

.keyboard{
  display:none;
}

#dosages{
  display:none;
}
