<html>
<title>Drug barcode</title>

<style>

body{
/*
  text-align: center;
  */
  font-family: "Nimbus Sans L", "Arial Narrow", sans-serif;
  -moz-user-select:none;
}
a{
  display: block;
  color: black;
  font-size: 1.75em;
  border: 2px outset gray;
  width: 340px;
  text-decoration: none;
  margin-top: 15px;
  margin-left: 5px;
  padding-top: 5px;
  background-color: lightgrey;
}

#all_barcode{
  height:457px;
  overflow:auto;
  width:700;
  position:absolute;
  float:right;
  -moz-user-select:none;
}

#drugs_with_no_barcodes{
 height:292;
 overflow:auto;
 width:660;  
 display:none;
}

table{
 background-color:#FFFF99;
 width:98%;
 -moz-user-select:none;
}

td{
  padding-top:20;
  padding-bottom:20;
  padding-left:5;
}

.barcode_link{
  background-color:gainsboro;
  font-size:0.75em;
  height:47px;
  margin-bottom:-20px;
  margin-top:-11px;
  width:352px;
}

</style>

<body>
<%= javascript_include_tag "barcode"%>
<form id="barcodeForm" action="/drug_barcode/scan">
Scan drug:  <input style="border: none; color: red" type="text" name="barcode" id="barcode"></input>
</form>

<p><a style="text-align:center;" href="/drug/manage">Return to menu</a></p>
<h2>
Available Drug barcodes:
</h2>
<div id="all_barcode">
</br>
<table>
<% for barcode in @all_barcodes %>
<tr <%= "style='background-color:lightblue' " if barcode == @scanned_barcode unless @scanned_barcode.nil? %>>
  <td class='barcode_name_td'><input class='barcode_link' type="button" onmousedown="document.location='/label_printing/print_drug_label?id=<%= barcode.barcode %>'" value='<%=barcode.drug.name rescue ''%>' /></td>
  <td><%= barcode.quantity %></td>
  <td><%= barcode.barcode  %></td>
</tr>
<% end %>
</table>
</div>

<br/>
<div id="drugs_with_no_barcodes">
<% unless @drugs_needing_barcodes.nil? %>
  <h2>
  Drugs with no barcodes:
  </h2>
  <% for drug in @drugs_needing_barcodes %>
    <%= drug.name %><br/>
  <% end %>
<% end %>
</div>
</body>
</html>
