<h3>Update the patient's place and date for their HIV test</h3>
<%=@search_result %>
<script> 
  tstSearchMode = "<%= @patient_or_guardian %>";
</script>
<form id="search" action="/patient/mastercard_modify?field=hiv_test" method="post"> 
  <p>
  </p>
</form>  
