<h3>Update the patient's Date of Starting alternative 2nd Line ARV Regimen</h3>
<%=@search_result %>
<script> 
  tstSearchMode = "<%= @patient_or_guardian %>";
</script>
<form id="search" action="/patient/mastercard_modify?field=alt_arv2" method="post"> 
  <p>
  </p>
</form>  
