<html>
<head>
<title>Patient Search Page</title>
</head>
<body>
<center><h1>Patient Residence</h1></center>
<br></br>
<br></br>
<br></br>
<br></br>

<P><%= link_to 'back', :action => 'patient_search_menu' %></p>
</body>
</html>

