<style>
.buttons{
  text-align:center;
  position:absolute;
  width:98%;
  left:0;
  padding-left:10px;
}
#mainBar{    
  background-color:lightgray;
  height:41px;
  left:0;
  position:absolute;
  width:100%;
}

#contentArea {
  padding-left:15px;
}

#main-title{
  background-color:lightgray;
  background-position:-21px -31px;
  outline-color:-moz-use-text-color;
  outline-style:none;
  outline-width:medium;
  font-size:20px;
}

#username{
  background-color:lightgray;
  background-position:-21px -31px;
  outline-color:-moz-use-text-color;
  outline-style:none;
  outline-width:medium;
  font-size:20px;
}

#user{
  float:right;
  font-size:15px;
  padding-right:10px;
}

.ButtonRow {
  border-top:1px solid #DDDDDD;
  margin:0 0 8px;
  overflow:hidden;
  padding:8px 0 0;
}
</style>
<%= render(:partial => "/user/retrospective_login_head") %>
<div id="content">
</br></br>
  <div class="buttons">
    <div class="ButtonRow"><%= link_to "HIV program", :action =>'retrospective_data_entry_menu', :program => "HIV" %></div>
    <div class="ButtonRow"><%= link_to "TB program", :action => "retrospective_data_entry_menu", :program => "TB" %></div>
    <div class="ButtonRow"><%= link_to "Logout", :controller => "user", :action =>'retrospective_login' %></div>
  </div>
</div>
