<% for column in Patient.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @patient.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @patient %> |
<%= link_to 'Back', :action => 'list' %>
