production:
  adapter: mysql
  database: openmrs_production 
  username: root
  password: 
  host: localhost

development:
  adapter: mysql
  database: openmrs_development 
  username: root
  password: 
  host: localhost

test:
  adapter: mysql
  database: openmrs_test
  username: root
  password:
  host: localhost

healthdata:
  adapter: mysql
  database: healthdata
  username: root
  password:    
  host: localhost