<h1>Editing patient_identifier_type</h1>

<% form_tag :action => 'update', :id => @patient_identifier_type do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @patient_identifier_type %> |
<%= link_to 'Back', :action => 'list' %>
