<% for column in PatientIdentifierType.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @patient_identifier_type.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @patient_identifier_type %> |
<%= link_to 'Back', :action => 'list' %>
