<% form_tag :action => 'change_activities', :id => @user do %>
  <label for="user[activities][]">
  Select current tasks
  </label>
  <%= select_tag 'user[activities][]', options_from_collection_for_select(@privileges.sort_by{|p|p.privilege}, :privilege, :privilege, @activities), :multiple => true, :tt_pageStyleClass => "ShortSelectList" %>
  <%= submit_tag 'Change' %>
<% end %>
