
<h1>Editing user</h1>
<%= javascript_include_tag  "cancel_to_user_menu"%>
<% form_tag :action => 'change_password', :id => @user do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @user %> |
<%= link_to 'Back', :action => 'list' %>
