
<%= javascript_include_tag  "cancel_to_user_menu"%>
<% form_tag :action => 'destroy', :id => @user do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Destroy' %>
<% end %>

<%= link_to 'Back', :action => 'show' %>
