
<%= javascript_include_tag  "cancel_to_user_menu"%>

<% form_tag :action => 'search_user', :id => @user do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Search' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @user %> |
<%= link_to 'Back', :action => 'user_menu' %>
