
<%= javascript_include_tag  "cancel_to_user_menu"%>
<%= render :partial => 'list'%>

<div id="navigationLinksInline">
    <%= link_to 'User Menu', :action => 'user_menu', :id => @user %>
      <%= link_to 'Active users', :action => 'list', :id => @user %>
    <%=link_to 'Previous page', { :page => @user_pages.current.previous } if @user_pages.current.previous %>
    <%= link_to 'Next page', { :page => @user_pages.current.next } if @user_pages.current.next %> 
</div>

