<style>
#viewport{display:none;}
.touchscreenTextInput{top:50px;}
.tt_controls_location_name #space{display:inline;width:88px;}
#num,#date,#abc,#backspace {width:88px;}

</style>
<% form_tag :controller=>"location",:action => "print_label" do %>
  <%= text_field 'location_code',nil, :helpText => 'Location code',:textCase =>"lower" %></p>
  <%= text_field 'location_name',nil, :helpText => 'Location name' %></p>
<% end %>
