<%= error_messages_for 'role' %>

<!--[form:role]-->
<p><label for="role_role">Role</label><br/>
<%= text_field 'role', 'role', :helpText => 'Role'  %></p>

<p><label for="role_description">Description</label><br/>
<%= text_field 'role', 'description', :helpText => 'Description'  %></p>
<!--[eoform:role]-->

