<% for column in Role.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @role.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @role %> |
<%= link_to 'Back', :action => 'list' %>
