<html>
  <head>
  <script language="javascript">
      function closePage(){
         history.go(-1);
      }
    </script>
    <%= stylesheet_link_tag "show_stats" %>
  </head>
  <body>
  <div class="user_details">
   <table>
     <tr><td></td><td><%= @stats_name rescue nil%></td></tr>
     <tr><td></td><td>User: <%=@user.name rescue nil %></td></tr>
     <tr><td></td><td><u>Patient Totals</u></td></tr>
   </table>
  </div>
  <div id='data'>
  <table id="data_table">  
    <thead>
      <tr><td style="background:#FFFF99;">WEEK</td><td class='table_heading_td'>Mon</td><td class='table_heading_td'>Tue<td class='table_heading_td'>Wed</td><td class='table_heading_td'>Thu</td><td class='table_heading_td'>Fri</td><td class='table_heading_td'>Sat</td><td class='table_heading_td'>Sun</td><td class='table_heading_td' id="totals">Total</td></tr>
    </thead>
    <%= Report.detail_user_encounter_results_html(@results,@stats_name,@user.name) %>
  </table>
  </div>
   <div class = "buttonsDiv">
     <button id='done_button' onmousedown='closePage();'>Done</button>
   </div>
  </body>
</html>
