<fieldset>
  <div class="row">
    <!--[form:global_property]-->
<div class="form-element">
  <label for="global_property_property">Property</label>
  <%= text_field 'global_property', 'property' , {:class=>"text-input"} %>
</div>

<div class="form-element">
  <label for="global_property_property_value">Property value</label>
  <%= text_field 'global_property', 'property_value' , {:class=>"text-input"} %>
</div>

<!--[eoform:global_property]-->

  </div>
</fieldset>