<html>
<head>
  <title>Main Menu</title>
 <%= stylesheet_link_tag 'menu' %>
 <!-- TODO replace this with the javascript stuff -->
 <meta http-equiv="Refresh" content ="1500; url =/user/logout/"/>
</head>
<body id="id_body">

<%= @content_for_layout %>
</body>
<%= javascript_include_tag "cornerActions"%>
</html>
