<html>
<head>
<meta http-equiv="Refresh" content ="4000; url =/user/logout/"/>
<body>

<%=  stylesheet_link_tag "patients_report" %>
<!-- stylesheet for individual page modifications -->
<%= @content_for_layout %>
</body>
</html>
