<html>
<head>
  <title>RolePriviledge: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <meta http-equiv="Refresh" content ="900; url =/user/logout/"/>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<%= @content_for_layout %>

</body>
</html>
